$whiteColor: #fafafa;
$blackColor: #333333;
$base-color: #f2f2f2;
$primary-color: #ffcd6a;
$sub-color: #e9afa3;
$accentColor: #a7d8de;

$content-width-sm: 496px;
$content-width: 672px;
$content-width-lg: 1024px;

$z-index-back: -1;
$z-index-default: 1;
$z-index-header: 100;
$z-index-menu: 150;
$z-index-modal: 200;

$imgDir: "../img/";
